* {
	padding: 0;
	margin: 0;
	font-family: century gothic;
}

body {
	background-color: #ededed
}

#form-param {
	padding: 20px;
	background-color: #fff;
	display: flex;
}

#form-param .container {
    flex: 2;
}
#form-param .buttons {
	flex: 1;
}

input {
	padding: 9px;
	margin: 3px;
	width: 100%
}
td {
    
    color: black;
    border: 1px solid rgb(5, 2, 15);
}
button{
	border: none;
	padding: 9px;
	display: block;
	margin: 6px
}

button:first-child {
	background-color: #48e;
	color: #fff
}